@import 'normalize.css';

@import './axis';
@import './vc';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  touch-action: none;
}

main {
  position: relative;
  width: 100%;
  height: calc(100% - 7em);
  background: #333;
}

header,
footer {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

header {
  height: 4em;

  h1 {
    margin: 0;
  }
}

footer {
  height: 3em;

  .github-link {
    display: flex;
    align-items: center;
    font-size: 0.85em;

    img {
      width: 2.2em;
      object-fit: contain;
    }
  }
}

a {
  text-decoration: none;
  color: #2d84da;
  border-bottom: 1px solid rgba(45, 132, 218, 0.6);
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}